body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.row {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #747474;
    padding-left: 20px;
    height: 100vh;
}

.content {
    flex: 1;
    padding: 50px;
}

.content h1 {
    text-align: center;
}

.forms-container {
    display: flex;
    flex-wrap: wrap;
}

.forms-container>div {
    flex: 1;
    padding: 20px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.delete-button {
    margin-top: 25px;
    margin-left: 20px;
}

.delete-button input[type="submit"]{
    background-color: rgb(229, 25, 25);
}

.delete-button input[type="submit"]:hover{
    background-color: rgb(187, 22, 22);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}